[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
envparse = "*"
psycopg2-binary = "*"
asyncpg = "*"
alembic = "*"
pydantic = {version = "*", extras = ["email"]}
base = "*"
pytest = "*"
httpx = "*"
pytest-asyncio = "*"
pre-commit = "*"
python-jose = "*"
passlib = "*"
python-multipart = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.10"
